.manipulator {
    width: 30%;
    padding: 7px;
    height:130px;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color:orange;	
    z-index: 999;
}

.button-apply{
    width: 125px;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.button-apply button{
    display: block;
    width: 45%;
    float: right;

}

.hide-range-matches,.hide-difference-matches,.hide-losing-home-matches,.hide-ng-matches{
    display: none !important;
}